html {
  font-size: 15px;
  max-width: 100%;
  height: 100svh;
}
/* body {
    display: flex;
    max-width: 100%;
    height: 100svh;
    flex-direction: column;
    align-items: center;
  } */
h2 {
  font-family: "Big Shoulders Display", sans-serif;
  text-transform: uppercase;
  margin: 2rem 0 1rem 3rem;
  font-weight: 700;
  font-size: 2rem;
  color: hsl(0, 0%, 95%);
}
div {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}
section {
  width: 25rem;
  height: 28rem;
  box-sizing: border-box;
}
.one {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.two {
  background-color: hsl(184, 100%, 22%);
}
.three {
  background-color: hsl(179, 100%, 13%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.three > p {
  margin-bottom: 0;
}
img {
  margin: 2rem 0 2rem 3rem;
}
p {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1rem;
  color: hsla(0, 0%, 100%, 0.75);
  max-width: 20rem;
  margin: 1.5rem 0 2rem 3rem;
  padding-right: 8rem;
  line-height: 1.6;
}
.three > p {
  padding-right: 8rem;
  margin-bottom: 2rem;
}
a {
  display: block;
  font-family: "Lexend Deca", sans-serif;
  text-decoration: none;
  margin: 1.5rem 0 2rem 3rem;
  padding-top: 0.6rem;
  width: 8rem;
  height: 2rem;
  border: 1px solid transparent;
  background-color: hsl(0, 0%, 95%);
  border-radius: 20px;
  text-align: center;
}
.tag-one {
  color: hsl(31, 77%, 52%);
}
.tag-two {
  color: hsl(184, 100%, 22%);
}
.tag-three {
  color: hsl(179, 100%, 13%);
}
a:hover {
  color: hsl(0, 0%, 95%);
  background-color: transparent;
  border: 1px solid hsl(0, 0%, 95%);
  transition: all 0.3s ease-in-out;
}
@media (min-width: 1024px) {
  html {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div {
    max-width: 1023px; /*to make the div stay and avoid uneccessary gaps*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
  }
  .one {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
  }
  .three {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;
  }
}
